      *{
        margin: 0;
        padding: 0;
      }
      html, body {
        font-family: Arial, Helvetica, sans-serif;
        scroll-behavior: smooth;
      }

      .brand-name {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
      }
    /* Custom color for trial button */
    .custom-trial-btn {
      background-color: #4940E7 !important;
      color: #fff !important;
      
      border: none;
    }
    /* Make grid images smaller while keeping grid layout */
    .grid-logo-img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .hero-sec{
    background:linear-gradient(45deg,rgba(197, 234, 243, 1) 0%, rgba(225, 238, 245, 1) 27%, rgba(255, 255, 255, 1) 100%);
    }

    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      background: #fff;
    }
    .loader-text {
      font-size: 40px;
      font-family: system-ui,sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #0000;
      -webkit-text-stroke: 1px #000;
      background:
        radial-gradient(0.71em at 50% 1em,#000 99%,#0000 101%) calc(50% - 1em) 1em/2em 200% repeat-x text,
        radial-gradient(0.71em at 50% -0.5em,#0000 99%,#000 101%) 50% 1.5em/2em 200% repeat-x text;
      animation: 
        l10-0 .8s linear infinite alternate,
        l10-1  4s linear infinite;
    }
    .loader:before {
  content: "";
    }
    @keyframes l10-0 {
      to {background-position-x: 50%,calc(50% + 1em)}
    }
    @keyframes l10-1 {
      to {background-position-y: -.5em,0}
    }
